// VARIABLES and MIXINS


// ===================VARIABLES======================
// font-styles
   $font-main: 'Catamaran', sans-serif;
   $font-description: 'Lato', sans-serif;

// ======================Colors===================

// background-colors
   $bg-lightest: #fff;
   $bg-light: #f5f3f3;
   $bg-medium: #efefef;
   $bg-dark: #606060;
   $bg-darker: #2a2a2a;
   // accents
   $bg-accent1: #bec884; 
   $bg-accent2: #f2b094;

   // font-colors 
   $font-dark: #2a2a2a;
   $font-accent: #285d64;
   $font-light: #efefef;
   $font-lightest: #fff;

// =====================MIXINS===================

@mixin fontSize($sizeValue) {
   font-size: $sizeValue * 1px;
   font-size: ($sizeValue/10) * 1rem;
   color: #2a2a2a;
   font-weight: 400;
   font-family: 'Lato', sans-serif;
   line-height: 1.5;
}
@mixin fontContent($fontFamily) {
   font-family: $fontFamily;
   font-size: 2rem;
   line-height: 1.5;
   padding: 4rem 0;
}
@mixin position($type, $top, $right, $bottom, $left) {
   position: $type;
   top: $top;
   right: $right;
   bottom: $bottom;
   left: $left;
}
@mixin flex($flex, $direction, $justify-content, $align-items) {
   display: $flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align-items;
}

// ==============responsive mixins==============

@mixin breakPoint($point) {
    @if $point == break1 {
        @media (max-width:1010px) { @content;}
    }
    @if $point == break2 {
    @media (max-width:900px) { @content;}
    }  
    @if $point == break3 {
    @media (max-width:850px) { @content;}
    } 
    @if $point == break4 {
    @media (max-width:785px) { @content;}
    } 
    @if $point == break5 {
    @media (max-width:650px) { @content;}
    } 
    @if $point == break6 {
    @media (max-width:500px) { @content;}
    }

}